.titulo {
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
}

.sect img {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sect img:hover {
    border-style: solid;
    border-width: 2;
    border-color: #00FF00;
}

body {
    background-color: #0e9bf8;
}

.texto {
    color: #b9fc3e;
    text-align: center;
}

.texto:hover {
    color: red;
    font-stretch: expanded;
    font-size: larger;
    background-color: blue;
}

.contacText label{
    font-family: fantasy;
    color: #700707;
}

form{
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color:#ccc;

}

label{
font-weight:bold;
display:inline-block;
}

textarea{
width:100%;
height:100px;
border:1px solid #f6f6f6;
border-radius:3px;
background-color:#f6f6f6;			
margin:8px 0;
/*resize: vertical | horizontal | none | both*/
resize:none;
display:block;
}

button{
width:100%;
padding:8px 16px;
margin-top:32px;
border:1px solid #000;
border-radius:5px;
display:block;
color:#fff;
background-color:#000;
} 

.butCol {
    background-color: #00FF00;
    color: #700707;
}

nav {
    background-color: red;
}

.navText {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.navItem {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}